@(message: String)

@main(message) {
    <h1>@message</h1>

    <h2>RUTAS DE LA API</h2>
    <div class="divider"></div>
    <div id="rutas">
        <h4>Recetas</h4>
        <table class="responsive-table highlight striped">
            <thead>
                <tr>
                    <th>Acción</th>
                    <th>URI</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="">CREO LA RECETA PASANDO LOS DATOS EN JSON MEDIANTE BODY (xml/json)</a></td>
                    <td><strong>POST</strong> curl -H "Content-Type: application/json" -H "Accept: application/xml" -X POST -d '{"name": "albondigas",
					"ingredients": [{"name": "tomate"},{"name": "cebolla"},{"name": "pan rallado"}],
					"tags": [{"name": "proteinas"},{"name": "facil"}]}' http://localhost:9000/recipes</td>
                </tr>
                <tr>
                    <td><a href="">RECETA GUARDADA EN CACHÉ</a></td>
                    <td><strong>GET</strong> curl -i -H "Accept: application/xml" -X GET http://localhost:9000/recipecache/1</td>
                </tr>
                <tr>
                    <td><a href="">MUESTRA LA LISTA DE RECETAS (xml/json)</a></td>
                    <td><strong>GET</strong> curl -i -H "Accept: application/json" -X GET http://localhost:9000/recipes</td>
                </tr>
                <tr>
                    <td><a href="">RECETAS POR ID (xml/json)</a></td>
                    <td><strong>GET</strong>curl -i -H "Accept: application/xml" -X GET http://localhost:9000/recipe/1</td>
                </tr>
                <tr>
                    <td><a href="">RECETAS POR NOMBRE (xml/json)</a></td>
                    <td><strong>GET</strong>curl -i -H "Accept: application/json" -X GET http://localhost:9000/recipe/name/albondigas</td>
                </tr>
                <tr>
                    <td><a href="">ACTUALIZAR RECETAS (xml/json)</a></td>
                    <td><strong>PUT</strong>curl -H "Content-Type: application/json" -H "Accept: application/xml" -X PUT -d '{"name": "Rodaballo",
					"ingredients": [{"name": "m"},{"name": "e"},{"name": "ii"}],
					"tags": [{"name": "ym"},{"name": "y"}]}' http://localhost:9000/recipe/1</td>
                </tr>
                <tr>
                    <td><a href="">ELIMINAR RECETAS POR ID (xml/json)</a></td>
                    <td><strong>DELETE</strong>curl -i -H "Accept: application/json" -X DELETE http://localhost:9000/recipe/1</td>
                </tr>
                <tr>
                    <td><a href="">CREO RECETA PASANDO MEDIANTE FORMFACTORY</a></td>
                    <td><strong>POST</strong>curl -i -X POST http://localhost:9000/recipesF\?name\=pan\&portions\=4</td>
                </tr>
            </tbody>
        </table>
        <div class="divider"></div>

        <h4>Ingredientes</h4>
        <table class="responsive-table highlight striped">
            <thead>
                <tr>
                    <th>Acción</th>
                    <th>URI</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="">CREO INGREDIENTE PASANDO MEDIANTE FORMFACTORY</a></td>
                    <td><strong>POST</strong>curl -i -X POST http://localhost:9000/ingredients\?name\=harina\&quantity\=450</td>
                </tr>
                 <tr>
                    <td><a href="">RELACION MANUAL ManyToMany RECETAS_INGREDIENTES</a></td>
                    <td><strong>PUT</strong>curl -i -H "Accept: application/xml" -X PUT http://localhost:9000/ingredients/1/recipe/1</td>
                </tr>
                <tr>
                    <td><a href="">MUESTRA LA LISTA DE INGREDIENTES (xml/json)</a></td>
                    <td><strong>GET</strong>curl -i -X GET http://localhost:9000/ingredients</td>
                </tr>
            </tbody>
        </table>
        <div class="divider"></div>

        <h4>Tags</h4>
        <table class="responsive-table highlight striped">
            <thead>
                <tr>
                    <th>Acción</th>
                    <th>URI</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="">RECETAS POR TAG (xml/json)</a></td>
                    <td><strong>GET</strong>curl -i -H "Accept: application/xml" -X GET http://localhost:9000/recipe/tag/facil</td>
                </tr>

            </tbody>
        </table>
        
        <h4>Tasks</h4>
        <table class="responsive-table highlight striped">
            <thead>
                <tr>
                    <th>Acción</th>
                    <th>URI</th>
                </tr>
            </thead>
            <tbody>
            	<tr>
                    <td><a href="">RELACION MANUAL ManyToMany RECETAS_INGREDIENTES</a></td>
                    <td><strong>POST</strong>curl "Accept: application/xml" -X PUT http://localhost:9000/ingredients/1/recipe/1</td>
                </tr>
            	<tr>
                    <td><a href="">RELACION MANUAL OneToMany RECETA_TASKS</a></td>
                    <td><strong>POST</strong>curl -i -H "Accept: application/xml" -X POST http://localhost:9000/recipes/1/task\?description\=bbbb</td>
                </tr>
                <tr>
                    <td><a href="">//RELAICION MANUAL OneToMany INGREDIENTE_TASKS</a></td>
                    <td><strong>POST</strong>curl -i -H "Accept: application/xml" -X POST http://localhost:9000/ingredients/1/task/1</td>
                </tr>
            </tbody>
        </table>
    </div>

}
