@(message: String)

@main(message) {
    <h1>@message</h1>

    <h2>RUTAS DE LA API</h2>
    <div class="divider"></div>
    <div id="rutas">
        <h4>Recetas</h4>
        <table class="responsive-table highlight striped">
            <thead>
                <tr>
                    <th>Acción</th>
                    <th>URI</th>
                    <th class="center">Login</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td><a href="https://github.com/JoseVte/tfg-recetarium/tree/master/doc/recetas-doc.md#obtener-una-receta-por-slug">Obtener por slug</a></td>
                    <td><strong>GET</strong> /recipes/{slug}</td>
                    <td class="center">-</td>
                </tr>
                <tr>
                    <td><a href="https://github.com/JoseVte/tfg-recetarium/tree/master/doc/recetas-doc.md#crear-una-receta-nueva">Crear</a></td>
                    <td><strong>POST</strong> /recipes</td>
                    <td class="center">OWNER</td>
                </tr>
                <tr>
                    <td><a href="https://github.com/JoseVte/tfg-recetarium/tree/master/doc/recetas-doc.md#borrar-un-ingrediente-de-una-receta">Borrar un ingrediente</a></td>
                    <td><strong>DELETE</strong> /recipes/{id-receta}/ingredient/{id}</td>
                    <td class="center">OWNER / ADMIN</td>
                </tr>
                <tr>
                    <td><a href="https://github.com/JoseVte/tfg-recetarium/tree/master/doc/recetas-doc.md#a%C3%B1adir-o-quitar-de-favoritos">Añadir/Borrar a favoritos</a></td>
                    <td><strong>PUT</strong> /recipes/{id}/fav</td>
                    <td class="center">COMUN</td>
                </tr>
            </tbody>
        </table>
        <div class="divider"></div>

        <h4>Tags</h4>
        <table class="responsive-table highlight striped">
            <thead>
                <tr>
                    <th>Acción</th>
                    <th>URI</th>
                    <th class="center">Login</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="https://github.com/JoseVte/tfg-recetarium/tree/master/doc/tag-doc.md#buscar-etiquetas-por-cadena">Buscar tags</a></td>
                    <td><strong>GET</strong>  /tags(?search=*)</td>
                    <td class="center">-</td>
                </tr>
                <tr>
                    <td><a href="https://github.com/JoseVte/tfg-recetarium/tree/master/doc/tag-doc.md#obtener-una-etiqueta-por-id">Obtener por id</a></td>
                    <td><strong>GET</strong>    /tags/{id}</td>
                    <td class="center">-</td>
                </tr>
            </tbody>
        </table>
        <div class="divider"></div>

        <h4>Archivos</h4>
        <table class="responsive-table highlight striped">
            <thead>
                <tr>
                    <th>Acción</th>
                    <th>URI</th>
                    <th class="center">Login</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="https://github.com/JoseVte/tfg-recetarium/tree/master/doc/archivos-doc.md#todas-las-imagenes">Todas las imagenes</a></td>
                    <td><strong>GET</strong>  /users/{user-id}/files</td>
                    <td class="center">COMUN</td>
                </tr>
            </tbody>
        </table>
    </div>

}
